<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Acerca de mi</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col lg-4 ms-0"><p class="lead">{{persona.sobreMi}}</p></div>
            <div class="col lg-4 ms-0"><p class="lead">Me llamo Leonardo y soy estudiante de la carrera Licenciatura en Sistemas de Información (UNLu). 
                Actualmente me encuentro trabajando para la empresa TELUS International como Internet Assesor.
            </p></div>
          
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="../../../assets/CV- LeonardoDuville.pdf" download="CV Leonardo Duville">
                <i class="fas fa-download me-2"></i>
                Descarga mi CV!
            </a>
        </div>
    </div>
</section>
